<h1>User:</h1>

<ul>
  <li><%= @user.id%></li>
  <li><%= @user.email %></li>
</ul>

<h2>Created Events:</h2>

<ol>
    <% @events.map do |e| %>
        <li>
          <ul>
            <li><%=e.title%></li>
            <li><%=e.date.strftime("%d-%m-%Y")%></li>
            <li><%=e.time.strftime("%I:%M %p")%></li>
          </ul>
        </li>
    <% end %>
</ol>
