<h1>User:</h1>

<%=link_to "Home", root_path%>

<ul>
  <li><%= @user.id%></li>
  <li><%= @user.email %></li>
</ul>

<h2>Created Events:</h2>

<ol>
    <% @created_events.map do |e| %>
        <li>
          <ul>
            <li><%=e.title%></li>
            <li><%=e.event_at.strftime("%d-%m-%Y")%></li>
            <li><%=e.event_at.strftime("%I:%M %p")%></li>
          </ul>
        </li>
    <% end %>
</ol>

<section class="flex justify-between">
  <div>
    <h2>Attended Events:</h2>
    <ol>
      <% @attended_events.filter {|e| e.event_at < Time.current}.map do |ae| %>
          <li>
            <ul>
              <li><%=ae.title%></li>
              <li><%=ae.event_at.strftime("%d-%m-%Y")%></li>
              <li><%=ae.event_at.strftime("%I:%M %p")%></li>
            </ul>
          </li>
      <%end%>
    </ol>
  </div>

  <div>
    <h2>Future Events:</h2>
    <ol>
      <% @attended_events.filter {|e| e.event_at >= Time.current}.map do |ae| %>
          <li>
            <ul>
              <li><%=ae.title%></li>
              <li><%=ae.event_at.strftime("%d-%m-%Y")%></li>
              <li><%=ae.event_at.strftime("%I:%M %p")%></li>
            </ul>
          </li>
      <%end%>
    </ol>
  </div>
</section>