<h1>List of all events</h1>

<%if signed_in? %>
    <h2><%= link_to "Your Summary", user_path(current_user) %></h2>
<%end%>

<%= link_to "Create New Event", new_event_path %>

<% if signed_in? %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<%else%>
    <%= link_to "Sign In", new_user_session_path %>
<%end%>

<section class="flex justify-between">
  <div>
    <h2>Past Events:</h2>
    <ol>
      <% @past_events.map do |e| %>
          <li>
            <ul>
              <li><%=e.title%></li>
              <li><%=e.event_at.strftime("%d-%m-%Y")%></li>
              <li><%=e.event_at.strftime("%I:%M %p")%></li>
            </ul>
          </li>
      <%end%>
    </ol>
  </div>

  <div>
    <h2>Future Events:</h2>
    <ol>
      <% @future_events.map do |e| %>
          <li>
            <ul>
              <li><%=e.title%></li>
              <li><%=e.event_at.strftime("%d-%m-%Y")%></li>
              <li><%=e.event_at.strftime("%I:%M %p")%></li>
            </ul>
          </li>
      <%end%>
    </ol>
  </div>
</section>