<h1>This contains a form to build a new event</h1>

<%=form_with model: @created_event do |form|%>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :event_on %><br>
        <%= form.date_field :event_on %>
    </div>

    <div>
        <%= form.label :event_at %><br>
        <%= form.time_field :event_at %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<%end%>