<h1>This shows details of single event</h1>
<div><%= link_to "Home", root_path %></div>
<h2><%=@created_event.title%></h2>
<h4><%=@created_event.date.strftime("%d-%m-%Y")%></h4>
<h4><%=@created_event.time.strftime("%I:%M %p")%></h4>

<div>
    <%=link_to "Attend the event", new_event_booking_path(@created_event)%>
</div>

<h2>List of Attendees</h2>

<ul>
    <% @attendees.map do |a| %>
        <li>
            <ul>
                <li>
                    <%= a.id %>
                </li>
                <li>
                    <%= a.email %>
                </li>
            </ul>
        </li>
    <% end %>
</ul>

