<h1>This shows details of single event</h1>
<div><%= link_to "Home", root_path %></div>
<h2><%=@created_event.title%></h2>
<h4><%=@created_event.event_at.strftime("%d-%m-%Y")%></h4>
<h4><%=@created_event.event_at.strftime("%I:%M %p")%></h4>

<div>
    <% unless @is_creator %>
        <% if @is_an_attendee %>
            <%= link_to "Change Status", edit_event_booking_path(@created_event, @booking) %>
        <% else %>
            <%= link_to "Attend the Event", new_event_booking_path(@created_event) %>
        <% end %>
    <%end%>
</div>

<div>
    <% if @is_creator %>
        <%= button_to "Delete Event", event_path(@created_event), method: :delete, data: {turbo_confirm: "Do you want to delete?"} %>
    <% end %>
</div>

<h2>List of Attendees</h2>

<ul>
    <% @attendees.map do |a| %>
        <li>
            <ul>
                <li>
                    <%= a.id %>
                </li>
                <li>
                    <%= a.email %>
                </li>
            </ul>
        </li>
    <% end %>
</ul>

